nav {
    padding: 20px 40px;
    ul {
        display: flex;
        justify-content: space-between;

        li {
            list-style-type: none;

            a {
                color: #000;
                text-transform: uppercase;
                font-family: DINPro-Bold;
            }
        }
    }
}