nav {
    background: #fff;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
    padding: 20px 40px;

    ul {
        display: flex;
        justify-content: space-between;

        li {
            list-style-type: none;

            a {
                color: #000;
                text-transform: uppercase;
                font-family: DINPro-Bold;
                padding: 10px;

                &:hover {
                    background: linear-gradient(to right top, #067eb3, #0097c1, #00adb5, #00c090, #38ce59);
                    color: #fff;
                    border-radius: 5px;
                }
            }

            .active {
                background: linear-gradient(to right top, #067eb3, #0097c1, #00adb5, #00c090, #38ce59);
                color: #fff;
                border-radius: 5px;
            }


        }
    }
}

@include md {
    nav {
        padding: 40px 60px;

        ul {
            display: flex;
            justify-content: space-between;

            li {
                list-style-type: none;

                a {
                    color: #000;
                    text-transform: uppercase;
                    font-family: DINPro-Bold;
                    font-size: 1.5rem;
                }
            }
        }
    }
}

@include lg {
    nav {
        padding: 40px 60px;

        ul {
            width: 50%;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;

            li {
                list-style-type: none;

                a {
                    color: #000;
                    text-transform: uppercase;
                    font-family: DINPro-Bold;
                    font-size: 1.5rem;
                }
            }
        }
    }
}