<nav>
    <ul>
        <li><a class="link" href="/">Weather</a></li>
        <li><a class="link" href="/about">About</a></li>
        <li><a class="link" href="/help">Help</a></li>
    </ul>
</nav>


    
    