<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/images/beach.png">
    <link rel="stylesheet" href="/CSS/scss/main.css">
    <title>Weather Forecast | Help</title>
</head>

<body>
    {{> header}}
    <div class="container">
        <div class="heading">
            <h1>{{website}} Help Page</h1>
            <p>{{message}}</p>
        </div>
    </div>

    {{> footer}}
</body>

</html>